<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Magazinul de plante</title>
    <meta name="keywords" content="plante, flori, bulbi, magazin de plante, arbusti, pomi, accesorii de gradinarit, unelte de gradinarit, plante cataratoare, plante de interior">
    <meta name="description" content="Magazin de plante. Flori, pomi, arbusti si accesorii pentru gradina ta.">

    <%- include("../fragmente/head.ejs")%>
</head>
<body>
    <div class="fixed-bg">
        <%- include("../fragmente/header.ejs")%>

        <main>
            <div  id="grid-pagina">
                <section id="welcome">
                    <h2 id="#casa">Acasa</h2>
                    <button id="tema" class="btn btn-primary">
                        <i class="fa-solid fa-sun"></i>
                        <i class="fa-solid fa-moon"></i>
                    </button>
                    <figure>
                        <picture>
                            <source media="(max-width: 600px)" srcset="./Resurse/imagini/sigla.png">
                            <source media="(max-width: 1000px)" srcset="./Resurse/imagini/sigla.png">
                            <img src="./Resurse/imagini/sigla.png" alt="imagine-sigla" title="descriere la hover">
                        </picture>
                        <figcaption>Sigla site-ului</figcaption>
                    </figure>
                    <a href="./Resurse/imagini/sigla.png" download="sigla">Descarca imaginea</a>
                    <% if(!locals.utilizator) { %>
                        <form id="form_inreg"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
                            <p>
                                <label>
                                    Username: <input type="text" name="username" id="inp-username" value="" required>
                                </label>
                            </p>
                            <p>
                                <label>
                                    Parola: <input id="parl" type="password" required  name="parola" value="">
                                </label>
                            </p>
                            <p><input type="submit" value="Logare"></p>
                        </form>
                        <p><%- locals.mesajLogin %></p>
                    <% } else {%>
                        <%- locals.succesLogin %>
                    <% }  %>
                    <section>
                        <div id="text-de-reflectat">
                            <h3 id="noi">Despre noi</h3>
                        </div>
                        <div id="text-reflectat">Despre noi</div>
                        <p><b><em>Magazinul de plante</em></b> este locul ideal de unde poti achizitiona o gama larga de produse, inclusiv seminte, ghivece, ingrasaminte si alte produse pentru gradinarit. Comercializam diverse plante, precum flori, arbori, plante ornamentale, plante roditoare sau bulbi. De asemenea, oferim consultanta pe email sau telefonic.</p>
                        <p><q>A beautiful plant is like having a friend around the house.</q></p>
                        <div class="container-iframe">
                            <div class="taburi-iframe">
                                <a href="https://www.youtube.com/embed/K01ChwVFrkc" target="iframe a">Trandafiri</a>
                                <a href="https://www.youtube.com/embed/sNjJZyd1q4U" target="iframe a">Pomi fructiferi</a>
                                <a href="https://www.youtube.com/embed/FaAU_Hxg6tU" target="iframe a">Plante de interior</a>
                            </div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/K01ChwVFrkc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen name="iframe a"></iframe>
                        </div>
                    </section>
                </section>

                <section id="top_produse">
                    <h3>Top produse</h3>
                    <div class="container-tabel">
                        <table>
                            <caption>Top produse saptamana 13.03-19.03.2023</caption>
                            <thead>
                                <tr>
                                    <th>Nr</th>
                                    <th>Nume</th>
                                    <th>Categorie</th>
                                    <th>Pret</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Trandafir</td>
                                    <td>Flori</td>
                                    <td>25 lei/buc</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Gardenia</td>
                                    <td>Flori</td>
                                    <td>30 lei/buc</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Trifoi clasic</td>
                                    <td>Plante ornamentale</td>
                                    <td>15 lei/buc</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Coacaz negru</td>
                                    <td>Plante roditoare</td>
                                    <td>28 lei/buc</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">Noul top va fi afisat in fiecare luni.</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
                <section id="calendar">
                    <button class="btn btn-primary">ceva</button>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur cupiditate dolor
                        doloremque eaque eos explicabo illum iste maxime minima, nostrum nulla perferendis placeat quae sit
                        suscipit unde vitae voluptatem?</p>
                </section>
                <section id="anunturi">
                    <div class="scrolling-text">
                        <p>Nu avem anunturi noi.</p>
                    </div>
                </section>
                <section id="lista_utilizatori">
                    <script>
                       /* function schimbaImag*/ /*de pus in alt fisier*/
                        /*trb generat vector javascript de src pt imag */
                       var vProduse = JSON.parse('<%- produse%>');
                       console.log(vProduse);
                    </script>
                    <div id="product-carousel" class="carousel slide" data-ride="carousel" data-interval="15000">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#product-carousel" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#product-carousel" data-bs-slide-to="1"></li>
                            <li data-bs-target="#product-carousel" data-bs-slide-to="2"></li>
                            <li data-bs-target="#product-carousel" data-bs-slide-to="3"></li>
                            <li data-bs-target="#product-carousel" data-bs-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <!-- Product slides will be loaded here -->
                            <div class="carousel-item active" id="slide0">
                                <img src="" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" id="slide1">
                                <img src="" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" id="slide2">
                                <img src="" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" id="slide3">
                                <img src="" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" id="slide4">
                                <img src="" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#product-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
                    <script src="/Resurse/js/carousel.js"></script>

                </section>
                <section id="date_utilizatori">
                    <p>
                        Ip: <%- locals.ip %>
                    </p>
                    <p>
                        <%- locals.a+locals.b %>
                    </p>

                </section>
                <section id="date_site">
                    <video controls="controls" poster="Resurse/imagini/tulips.jpg" preload="none">
                        <source src="./Resurse/video/tulips.mp4" type="video/mp4">
                        <source src="./Resurse/video/tulips.ogv" type="video.ogv">
                        <track default src="./Resurse/video/my_captions_ro.vtt" kind="captions" srclang="ro" label="romana" />
                        <track src="Resurse/video/my_captions_en.vtt" kind="captions" srclang="en" label="engleza" />
                    </video>
                </section>
                <section id="promotii">
                    <h3>Promotii</h3>
                    <div><i class="fa-solid fa-gem fa-spin fa-3x"></i></div>
                    <p>In perioada 01.03-15.03.2023, avem 20% reducere la urmatoarele produse:</p>
                    <details><summary>Flori</summary>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime non nulla officia quae similique vitae! Blanditiis cumque eos esse explicabo, facere fugiat incidunt numquam odio possimus quidem, reiciendis voluptatibus!</details>
                    <details><summary>Arbori</summary>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsam possimus suscipit. Amet architecto facere id qui repudiandae sequi temporibus veniam voluptates. Autem doloribus molestiae neque pariatur, quisquam quos repellendus.</details>
                    <details><summary>Plante ornamentale</summary>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ea earum enim ipsa laboriosam magnam saepe suscipit tempora? Aspernatur commodi cum magni nemo quod. Impedit porro repellendus sint? Explicabo, tempore.</details>
                    <a class="link" href="#flori">Florile saptamanii</a>
                </section>
            </div>
            <br><br>
            <%- include("../fragmente/galerie_statica.ejs")%>
        </main>
        <div class="watermark">
            <div>Staci</div>
            <div>Ana-Iulia</div>
        </div>
        <%- include("../fragmente/footer.ejs")%>
    </div>
</body>
</html>