<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Magazinul de plante</title>
        <meta name="keywords" content="plante, flori, bulbi, magazin de plante, arbusti, pomi, accesorii de gradinarit, unelte de gradinarit, plante cataratoare, plante de interior">
        <meta name="description" content="Magazin de plante. Flori, pomi, arbusti si accesorii pentru gradina ta.">

        <%- include("../fragmente/head") %>     
        <link href="/Resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Timp de plantare: <span class="timp_plantare"><%- locals.prod.timp_de_plantare %> </span></p>
                    <p>Cantitate/pachet: <span class="cantitate"><%- locals.prod.cantitate_in_pachet %> </span> buc</p>
                    <p>Conditii de lumina: <span class="lumina"><%- locals.prod.conditii_de_lumina %> </span></p>
                    <p>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Comestibil: <span class="comestibil"><%- locals.prod.comestibil %> </span></p>
                    <p>Data adăugare: <span class="categorie"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/Resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>